/* Page-header */

.page-header {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(48px);
}

.page-header__wrapper {
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

