/* Slider Controls */

.slider__controls {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.slider__btn {
  background: none;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
}

.slider__controls-icon {
  fill: none;
}

.slider__btn--next .slider__controls-icon {
  transform: rotate(180deg);
}

/* Slider */

.slider {
  transition: transform 1s ease-in-out;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* Slider item */

.slider__item {
  transition: opacity 1s ease-in-out;
  opacity: 0.3;
}

.slider__item--active {
  opacity: 1;
}
