@font-face {
  font-family: "MullerRegular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-family: "MullerMedium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
}
